@import 'styles/colors';

.button {
    cursor: pointer;
    display: flex;
    align-items: center;
    outline: none;
    box-sizing: border-box;
    border-radius: 12px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    transition: 0.3s all;
}

.buttonXl {
    @extend .button;
    gap: 8px;
    padding: 24px;
    font-weight: 500;
}

.buttonMd {
    @extend .button;
    gap: 8px;
    padding: 18px;
    font-weight: 500;
}

.buttonSm {
    @extend .button;
    gap: 4px;
    padding: 12px;
}

.buttonXs {
    @extend .button;
    gap: 4px;
    padding: 10px;
    font-size: 16px;
    line-height: 16px;

    & > svg {
        max-height: 20px;
        max-width: 20px;
    }
}

.colorPrimary {
    color: $white;
    background-color: $primary;
    border: 1px solid  $primary;

    & > svg {
        fill: $white;
    }

    &:hover {
        background-color: rgba($primary, 0.8);
    }
}

.colorSecondary {
    color: $primary;
    background-color: $primaryMuted;
    border: 1px solid  $primaryMuted;
    
    & > svg {
        fill: $primary;
    }

    &:hover {
        background-color: rgba($primaryMuted, 0.8);
    }
}